.mario, .bowser, .link, .peach, .pikachu, .kirby{
  display: none;
}

body {
  text-align: center;
  background-image: url(https://visualcocaine.org/public/uploads/large/11533801346jsyrsz4xk08od31m2f13vmwq5wcsffaxdfq7buzxtzcktn9ekc2wwmkyreytukxzj12ovvtx6j4ukckjqho4owdefjcuf0ihovgz.jpg);
}
.container {

}
label {
  font-size: 50px;
  color: white;
  background: red;
  border: 5px solid red;
  border-radius: 15px;
}
h1 {
  font-size: 70px;
  color: white;
  border: 5px solid red;
  border-radius: 15px;
  background-color: red;
}
.answer {
  font-weight: bold;
  font-size: 50px;
  color: white;
  border: 5px solid red;
  border-radius: 15px;
  background: red;
}
.form-control {
  font-size: 25px;
}

button{
  height: 100px;
  width: 200px;
  background-color: red;

}
.submit {
  font-size: 50px;
}
